<section class="banner">
    <picture>
        <source srcset="assets/images/banner.webp" type="image/webp" media="(min-width: 768px)">
        <source srcset="assets/images/banner.jpg" type="image/jpg" media="(min-width: 768px)">
        <source srcset="assets/images/banner-mobile.webp" type="image/webp" media="(max-width: 768px)">
        <source srcset="assets/images/banner-mobile.jpg" type="image/jpg" media="(max-width: 768px)">
        <img alt="banner" src="assets/images/banner.jpg" class="banner-img">
     </picture>
     <div class="content-wrapper">
        <div class="content-wrapper__container">
            <h1>تپسی</h1>
            <h2>اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-btn">
                <div class="intro-btn__passenger btn__passenger--primary">
                    <span>
                        <i class="fa-solid fa-arrow-down"></i>
                    </span>
                    <a href="#">دانلود اپلیکیشن مسافران</a>
                </div>
                <div class="intro-btn__passenger btn__passenger--primary">
                    <a href="#">وب اپلیکیشن مسافران</a>
                </div>
                <div class="intro-btn__passenger btn__passenger--secondary">
                    <span>
                        <i class="fas fa-car"></i>
                    </span>
                    <a href="#">ثبت نام راننده خودرو</a>
                </div>
                <div class="intro-btn__passenger btn__passenger--secondary">
                    <span>
                        <i class="fa-solid fa-helmet-un"></i>
                    </span>
                    <a href="">ثبت نام راننده موتور</a>
                </div>
                <div class="intro-btn__passenger btn__passenger--secondary last-element">
                    <span>
                        <i class="fa-solid fa-arrow-down"></i>
                    </span>
                    <a href="">دانلود اپلیکیشن رانندگان</a>
                </div>
            </div>
        </div>
     </div>
</section>