<section class="contact-us container">
    <div class="contact-us__header">
        <h2>ارتباط با ما</h2>
        <span>شما می توانید، نظرات و انتقادات خود را برای ما بفرستید</span>
    </div>
    <div class="contact-us__body">
        <div class="contact-us__address">
            <div class="contact-us__social">
                <svg class="icon-social">
                    <use xlink:href="/assets/images/contact-info-sprit.svg#linkedin"></use>
                </svg>
                <svg class="icon-social">
                    <use xlink:href="/assets/images/contact-info-sprit.svg#facebook"></use>
                </svg>
                <svg class="icon-social">
                    <use xlink:href="/assets/images/contact-info-sprit.svg#twitter"></use>
                </svg>
            </div>
            <div class="contact-us__info">
                 <div class="contact-us__location">
                    <span class="icon-container">
                        <svg class="icon">
                            <use xlink:href="/assets/images/contact-info-sprit.svg#location"></use>
                        </svg>
                    </span>
                    <span class="contact-us__info__text">Spring St undefined Anchorage, Georgia 12473</span>
                 </div>
                 <div class="contact-us__phone">
                    <span class="icon-container">
                        <svg class="icon">
                            <use xlink:href="/assets/images/contact-info-sprit.svg#phone"></use>
                        </svg>
                    </span>
                    <span class="contact-us__info__text">+989182451234</span>
                 </div>
                 <div class="contact-us__mail">
                    <span class="icon-container">
                        <svg class="icon">
                            <use xlink:href="/assets/images/contact-info-sprit.svg#mail"></use>
                        </svg>
                    </span>
                    <span class="contact-us__info__text">info@fronthooks.ir</span>
                 </div>
            </div>
            <div class="contact-us__map">
                <img src="/assets/images/map.png" alt="location tapsi on the map">
            </div>
        </div>
        <div class="contact-us__message">
            <form class="contact-us__form">
                <h3>نظرات شما</h3>
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Your Email">
                <textarea cols="30" rows="10" placeholder="Your Message"></textarea>
                <div class="contact-us__btn-container">
                    <button type="submit" class="btn btn--primary btn--form">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>