<footer class="footer">
    <div class="footer__section container">
        <div class="footer__col">
            <img src="/assets/images/tapsi-logo-white.svg" alt="tapsi-white-logo" class="footer__logo">
            <span class="footer__desc">اپلیکیشن درخواست خودرو و پیک</span>
            <span class="footer__first-copy-write">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</span>
        </div>
        <div class="footer__col">
            <h3>تپسی</h3>
            <ul class="footer__nav">
                <li>وبلاگ تپسی</li>
                <li>فرصت شغلی</li>
                <li>تماس با ما</li>
                <li>لوگو و هویت سازمانی</li>
                <li>استخدام بازاریاب</li>
            </ul>
        </div>
        <div class="footer__col">
            <h3>مسافران</h3>
            <ul class="footer__nav">
                <li>دانلود اپ مسافر</li>
                <li>نسخه وب تپسی</li>
                <li>پرسش های متداول مسافران</li>
                <li>شرایط و قوانین مسافران</li>
                <li>باشگاه مشتریان</li>
            </ul>
        </div>
        <div class="footer__col">
            <h3>رانندگان</h3>
            <ul class="footer__nav">
                <li>دانلود اپ سفیر</li>
                <li>ثبت نام راننده تاکسی اینترنتی</li>
                <li>پرسش های متداول سفیران</li>
                <li>شرایط و قوانین سفیران</li>
            </ul>
        </div>
        <div class="footer__col">
            <h3>کسب و کارها</h3>
            <ul class="footer__nav">
                <li>پنل سازمانی تپسی</li>
                <li>خرید کد اعتبار و تخفیف</li>
                <li>دریافت API</li>
            </ul>
        </div>
        <div class="footer__col footer--last-col">
            <div class="footer__trust-col">
                <img src="/assets/images/ENAMAD.png" alt="enamad-logo">
                <img src="/assets/images/SAMANDEHI.png" alt="samandehi-logo">
                <img src="/assets/images/ETEHADIEH.png" alt="etehadieh-logo">
            </div>
            <span class="footer__second-copy-write">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</span>
            <div class="footer__social">
                <svg class="icon">
                    <use xlink:href="/assets/images/footer-social-icon.svg#facebook"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="/assets/images/footer-social-icon.svg#instagram"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="/assets/images/footer-social-icon.svg#linkedin"></use>
                </svg><svg class="icon">
                    <use xlink:href="/assets/images/footer-social-icon.svg#telegram"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="/assets/images/footer-social-icon.svg#twitter"></use>
                </svg>
            </div>
        </div>
    </div>
</footer>