<section class="plans container">
    <div class="plans__list">
        <div class="plans__card card--secondary">
            <header class="plans__header">
            <div class="plans__intro-row">
                <span>عادی</span>
                <span class="badge badge--secondary">10% OFF</span>
            </div>
            <div class="plans__price-row">
                <span class="plans__price">290,000</span>
                <span class="plans__billing-cycle">ماهانه / تومان</span>
            </div>
            <div class="plans__desc-row">سرویس ماشین های معمولی</div>
            </header>
            <div class="plans__body">
               <div class="plan__list__check">
                    <ul class="list list--check">
                        <li class="list__item">کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                        <li class="list__item">کیفیت معمولی</li>
                    </ul>
               </div>
               <div class="plan__action">
                    <button class="btn btn--primary btn--block">ثبت سفارش</button>
               </div>
            </div>
        </div>
        <div class="plans__card card--primary plan--popular">
            <header class="plans__header">
            <div class="plans__intro-row">
                <span>اقتصادی</span>
                <span class="badge badge--primary">15% OFF</span>
            </div>
            <div class="plans__price-row">
                <span class="plans__price">390,000</span>
                <span class="plans__billing-cycle">ماهانه / تومان</span>
            </div>
            <div class="plans__desc-row">سرویس ماشین های کلاسیک</div>
            </header>
            <div class="plans__body">
                <div class="plan__list__check">
                    <ul class="list list--check">
                        <li class="list__item">کیفیت عالی</li>
                        <li class="list__item">کم سرو صدا</li>
                        <li class="list__item">زمان محدود</li>
                        <li class="list__item">سرویس روزانه</li>
                    </ul>
               </div>
               <div class="plan__action">
                    <button class="btn btn--primary btn--block">ثبت سفارش</button>
               </div>
            </div>
        </div>
        <div class="plans__card card--secondary">
            <header class="plans__header">
            <div class="plans__intro-row">
                <span>ویژه</span>
                <span class="badge badge--secondary">20% OFF</span>
            </div>
            <div class="plans__price-row">
                <span class="plans__price">490,000</span>
                <span class="plans__billing-cycle">ماهانه / تومان</span>
            </div>
            <div class="plans__desc-row">سرویس ماشین های مدل بالا</div>
            </header>
            <div class="plans__body">
               <div class="plan__list__check">
                    <ul class="list list--check">
                        <li class="list__item">کیفیت خیلی خفن</li>
                        <li class="list__item">بی سرو صدا</li>
                        <li class="list__item">زمان نامحدود</li>
                        <li class="list__item">سرویس نامحدود</li>
                    </ul>
               </div>
               <div class="plan__action">
                <button class="btn btn--primary btn--block">ثبت سفارش</button>
               </div>
            </div>
        </div>
    </div>
</section>