<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Travel</title>
</head>
<body>
    <section class="travel">
        <div class="travel__slides container">
            <div class="travel__slide">
                <div class="travel__img">
                    <img src="/assets/images/travel-image.png" alt="travel-image">
                </div>
                <div class="travel__detail">
                    <div class="travel__header">
                        <span class="badge badge--primary">ویژه</span>
                        <span>سفر سه روزه &bull; اقامت رایگان</span>
                    </div>
                    <p class="travel__title">سفر به قلب کویر لوت</p>
                    <div class="travel__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>12</span>
                            <i class="far fa-eye"></i>
                            <span>24</span>
                        </div>
                        <div class="travel__icons__action">
                            <i class="fas fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="travel__avatar-group">
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/ben.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/christopher.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/warren.jpg" alt="user-profile">
                        </div>
                        <div class="hidden-avatars">+10</div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="travel__img">
                    <img src="/assets/images/travel-image.png" alt="travel-image">
                </div>
                <div class="travel__detail">
                    <div class="travel__header">
                        <span class="badge badge--primary">ویژه</span>
                        <span>سفر سه روزه &bull; اقامت رایگان</span>
                    </div>
                    <p class="travel__title">سفر به قلب کویر لوت</p>
                    <div class="travel__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>12</span>
                            <i class="far fa-eye"></i>
                            <span>24</span>
                        </div>
                        <div class="travel__icons__action">
                            <i class="fas fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="travel__avatar-group">
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/ben.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/christopher.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/warren.jpg" alt="user-profile">
                        </div>
                        <div class="hidden-avatars">+10</div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="travel__img">
                    <img src="/assets/images/travel-image.png" alt="travel-image">
                </div>
                <div class="travel__detail">
                    <div class="travel__header">
                        <span class="badge badge--primary">ویژه</span>
                        <span>سفر سه روزه &bull; اقامت رایگان</span>
                    </div>
                    <p class="travel__title">سفر به قلب کویر لوت</p>
                    <div class="travel__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>12</span>
                            <i class="far fa-eye"></i>
                            <span>24</span>
                        </div>
                        <div class="travel__icons__action">
                            <i class="fas fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="travel__avatar-group">
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/ben.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/christopher.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/warren.jpg" alt="user-profile">
                        </div>
                        <div class="hidden-avatars">+10</div>
                    </div>
                </div>
            </div>
            <div class="travel__slide">
                <div class="travel__img">
                    <img src="/assets/images/travel-image.png" alt="travel-image">
                </div>
                <div class="travel__detail">
                    <div class="travel__header">
                        <span class="badge badge--primary">ویژه</span>
                        <span>سفر سه روزه &bull; اقامت رایگان</span>
                    </div>
                    <p class="travel__title">سفر به قلب کویر لوت</p>
                    <div class="travel__icons">
                        <div>
                            <i class="fas fa-heart"></i>
                            <span>12</span>
                            <i class="far fa-eye"></i>
                            <span>24</span>
                        </div>
                        <div class="travel__icons__action">
                            <i class="fas fa-edit"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>
                    <div class="travel__avatar-group">
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/ben.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/christopher.jpg" alt="user-profile">
                        </div>
                        <div class="travel__avatar">
                            <img src="/assets/images/user-profile/warren.jpg" alt="user-profile">
                        </div>
                        <div class="hidden-avatars">+10</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>